@import "tailwindcss";
body {
  background: white;
}

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/effect-fade";

.swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.3);
}

.swiper-pagination-bullet-active {
  background: rgba(240, 137, 2, 0.966);
}
